<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.romain.cellarv1">

    <!-- PERMISSIONS POUR ACCES APPAREIL PHOTO ET STOCKAGE LOCAL-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <!-- PERSMISSIONS POUR DONNEES CARTOGRAPHIQUES -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:windowSoftInputMode="stateHidden|adjustResize"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".vue.AddActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".vue.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".vue.LikeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".vue.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vue.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vue.CellarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vue.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- API GOOGLE MAPS KEY -->
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBKGJeoNXT27cA5LAkQj6bd8rKP51VzvYU" />

    </application>

</manifest>