<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.romain.cellarv1">

    <!-- PERSMISSIONS POUR DONNEES CARTOGRAPHIQUES -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".LikeActivity" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".CellarActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- API GOOGLE MAPS KEY -->
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBKGJeoNXT27cA5LAkQj6bd8rKP51VzvYU" />

    </application>

</manifest>